.project {
  position: relative;
  background: #ffffff;
 
}
.project h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: black;
  width: auto;
}

.proj-imgbx {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  
}

.proj-txtx {
  text-align: center;
  transition: 1.5s ease-in-out;
  color: #4e5255;
  width: auto;
  text-decoration: none;
}

.proj-txtx h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  display: block;
  width: auto;
  text-decoration: none;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.6px;
  position: center;
  display: block;
  width: auto;
  
}
