---
import { Background } from "./background";
---

<section class="bg-white min-h-[60vh]" id="aboutme">
  <div
    class="gap-16 items-inline py-8 px-4 mx-auto max-w-screen-xl grid grid-cols-1 lg:grid-cols-2"
  >
    <div class="font-light text-gray-500 sm:text-lg">
      <a
        class="block max-w-full p-6 bg-[#dbdad4] border border-[#dbdad4] rounded-lg shadow-lg"
      >
        <h5 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900">
          Hello, I'm Hyejee
        </h5>
        <p class="mb-4 font-normal text-gray-700">
          I'm Hyejee, also known as HedgeHour, the web development enthusiast.
          While I'm relatively new to the field, I offer a fresh perspective and
          a strong desire to learn and innovate. As a novice web developer, I've
          already crafted functional and visually appealing websites and
          applications. I'm a team player, eager to collaborate and enhance my
          skills through colleagues' insights.
        </p>
        <p class="text-md text-gray-800">
          With over 5 years of experience in the IT field, I bring a unique
          fusion of technical expertise and business acumen to the table. My
          proficiency in software development enables me to seamlessly bridge
          the gap between technology and business strategy, consistently
          achieving successful outcomes. I excel at transforming intricate data
          into actionable insights and crafting user-friendly solutions. Beyond
          that, my unwavering commitment extends to incorporating the latest
          cybersecurity techniques, ensuring the utmost safety and security of
          client data in all solutions. As a creative problem-solver and
          effective communicator, I take pride in consistently surpassing
          expectations, delivering results that embody innovation and
          excellence.
        </p>
      </a>
    </div>

    <Background client:load />
  </div>
</section>
