<div
  class="absolute left-0 w-full bg-white  p-6 mt-2 rounded-lg shadow-md mx-auto transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1"
>
  <slot />
</div>


