---
import { Background } from "./background";
---

<section class="bg-white shadow-3xl" id="aboutme">
  <div
    class="flex justify-center items-center gap-16 py-8 px-4 mx-auto max-w-screen-xl grid-cols-1 lg:grid-cols-2"
  >
    <Background client:load />
  </div>
</section>
