<section class="bg-white background-image" id="home">
  <div
    class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class=" grid-cols-1  mt-12  ">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight  text-black leading-none md:text-5xl xl:text-6xl"
      >
        Hyejee Ellis
      </h1>
      <p
        class="max-w-2xl mb-12 font-light align-right text-gray-600 lg:mb-14 md:text-lg lg:text-xl"
      >
        Decoding business trends, shaping digital gems—I've evolved into a force
        in web development, infusing projects with strategic acumen for
        impactful online experiences.
       
      </p>
      
    
      <a
      href="#contacts"
      class="inline-flex items-center justify-center px-2 py-2 text-base font-medium text-center text-gray-900 border hover:text-white border-gray-300 rounded-full hover:bg-[#9e4b45] focus:ring-4 focus:ring-gray-100"
    >
      Let's Connect
    </a>
    </div>
   
  </div>
</section>

<style>
  .background-image {
    background-image: url("../../assets/bio3.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>