
<section class="bg-[#6e776e]">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-white sm:text-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
        About Me
      </h2>
      <p class="mb-4">
        I'm Hyejee, also known as HedgeHour, the web development enthusiast.
        While I'm relatively new to the field, I offer a fresh perspective and a
        strong desire to learn and innovate. As a novice web developer, I've
        already crafted functional and visually appealing websites and
        applications. I'm a team player, eager to collaborate and enhance my
        skills through colleagues' insights.
      </p>
      <p class="mb-4">
        With over 5 years of experience in the IT field, I bring a unique fusion
        of technical expertise and business acumen to the table. My proficiency
        in software development enables me to seamlessly bridge the gap between
        technology and business strategy, consistently achieving successful
        outcomes. I excel at transforming intricate data into actionable
        insights and crafting user-friendly solutions. Beyond that, my
        unwavering commitment extends to incorporating the latest cybersecurity
        techniques, ensuring the utmost safety and security of client data in
        all solutions. As a creative problem-solver and effective communicator,
        I take pride in consistently surpassing expectations, delivering results
        that embody innovation and excellence.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
        alt="office content 2"
      />
    </div>
  </div> 
</section>
