---
import { Image } from "astro:assets";
import WeatherIcon from "./WeatherIcons.astro";
import DBSkills from "./DBList.astro";
import Dashboards from "../assets/Dashboards.png";
import SampleSlide from "../assets/SampleSlide.png";
---

<section class="bg-[#1f2937]">
  <div
    class="grid max-w-screen-xl px-4 py-10 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl text-white font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl"
      >
        Simulated BI Consulting Project
      </h1>

      <p
        class="max-w-2xl mb-6 font-light text-gray-200 lg:mb-8 md:text-md lg:text-md"
      >
        In the context of a simulated engagement, this project, driven by a
        business need to enhance decision-making processes, showcases my talent
        in KPI and BI dashboard creation. Through diverse solutions, the
        strategic implementation of a Power BI data model exemplifies my
        expertise in optimizing resource allocation and fostering collaboration
        for efficient project management.
      </p>
    </div>
    <div class="lg:mt-0 lg:col-span-5 lg:flex background-image">
      <a class="text-[#1f2937]" href="https://storyset.com/business"
        >Business illustrations by Storyset</a
      >
    </div>
  </div>
</section>

<section class="bg-white" id="background">
  <div
    class="gap-6 items-inline py-4 px-4 mx-auto max-w-screen-xl grid grid-cols-1 xl:grid-cols-1 md:grid-cols-1"
  >
    <div class="grid md:grid-cols-2 gap-20">
      <div>
        <h1 class="text-4xl mt-10 font-bold tracking-tight text-[#125767]">
          Project Background & Purpose
        </h1>
        <p class="font-normal mt-5 text-lg text-gray-700">
          Embarking on this simulated consulting project, my primary goal is to
          enrich my skills in Business Intelligence (BI), data modeling, and
          consulting. This initiative is designed to not only showcase my
          technical proficiency but also to demonstrate my consulting
          experience. By delivering client deliverables that mirror real-world
          expectations, I aim to present a comprehensive sample of my
          capabilities in BI and data modeling within a consulting context.
        </p>
        <div>
          <h2 class="text-4xl mt-10 font-bold tracking-tight text-[#125767]">
            Problem Statement
          </h2>
          <p class="font-normal mt-5 text-lg text-gray-700">
            Our client, a dynamic and forward-thinking business, has engaged our
            services to unlock the potential within their data. This project is
            driven by a genuine business need to enhance decision-making
            processes through the strategic implementation of a Power BI data
            model.
          </p>
        </div>
      </div>
      <div class="border-lime-200 border-4 rounded-lg px-3">
        <h1 class="text-4xl mt-10 font-bold tracking-tight text-[#125767]">
          Objectives
        </h1>
        <p class="font-normal mt-5 text-lg text-gray-700">
          Through Legacy Report Enhancements, I aim to elevate the current
          reporting system by recreating and enhancing the legacy report,
          employing advanced DAX language and modeling techniques to ensure the
          accuracy and relevance of metrics. <p
            class="font-normal mt-5 text-lg text-gray-700"
          >
            Additionally, I will provide recommendations for customer
            acquisition benchmarking. In the realm of Data Insights, my focus is
            on crafting a data model that not only fulfills current requirements
            but also lays the groundwork for future data integration. This
            involves showcasing proficiency in both data analysis and report
            design, aligning with the client's vision for an intuitive and
            impactful reporting system.
          </p>
          <p class="font-normal mt-5 text-lg text-gray-700">
            The strategy extends to Scalability and Future-Readiness, where the
            design of the data model prioritizes scalability to accommodate
            additional datasets and future analytical needs. Addressing the
            client's desire for time intelligence calculations, the system is
            meticulously prepared for evolving data requirements.
          </p>
        </p>
      </div>
    </div>
    <h2
      class="text-4xl mt-10 font-bold tracking-tight text-center text-[#125767]"
    >
      Design Process
    </h2>
    <div class="grid md:grid-cols-5 gap-8">
      <div class="bg-gray-50 border border-gray-200 rounded-lg p-3 shadow">
        <a
          class="bg-pink-100 inline-flex justify-center px-2.5 py-0.5 rounded-md"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
        </a>
        <h2 class="text-gray-900 text-2xl font-extrabold mb-2">Discover</h2>
        <p class="text-md font-normal text-gray-500 mb-4">
          Understand the client's current data landscape and challenges.<ul
            class="list-disc ml-2 text-gray-500"
          >
            <li>
              Conduct initial client meetings to comprehend their existing data
              infrastructure, challenges, and business goals.
            </li>
            <li>
              Review existing reports, data sources, and decision-making
              processes.
            </li>
          </ul>
        </p>
      </div>
      <div class="bg-gray-50 border border-gray-200 rounded-lg p-3 shadow">
        <a
          class="bg-purple-100 inline-flex items-center px-2.5 py-0.5 rounded-md"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17v1a.97.97 0 0 1-.933 1H1.933A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.828 1h8.239A.97.97 0 0 1 15 2M6 1v4a1 1 0 0 1-1 1H1m13.14.772 2.745 2.746M18.1 5.612a2.086 2.086 0 0 1 0 2.953l-6.65 6.646-3.693.739.739-3.692 6.646-6.646a2.087 2.087 0 0 1 2.958 0Z"
            ></path>
          </svg>
        </a>
        <h2 class="text-gray-900 text-2xl font-extrabold mb-2">Define</h2>
        <p class="text-md font-normal text-gray-500 mb-4">
          Clearly define the goals and scope of the project.<ul
            class="list-disc ml-2 text-gray-500"
          >
            <li>
              Collaborate with stakeholders to define specific objectives and
              key performance indicators (KPIs) for enhanced decision-making.
            </li>
            <li>
              Develop a project scope document outlining the client's
              expectations and deliverables.
            </li>
          </ul>
        </p>
      </div>
      <div class="bg-gray-50 border border-gray-200 rounded-lg p-3 shadow">
        <a
          class="bg-yellow-100 inline-flex items-center px-2.5 py-0.5 rounded-md"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="20"
            fill="none"
            viewBox="0 0 14 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 7a3 3 0 0 1 3-3M5 19h4m0-3c0-4.1 4-4.9 4-9A6 6 0 1 0 1 7c0 4 4 5 4 9h4Z"
            ></path>
          </svg>
        </a>
        <h2 class="text-gray-900 text-2xl font-extrabold mb-2">Ideate</h2>
        <p class="text-md font-normal text-gray-500 mb-4">
          Brainstorm potential solutions and strategies for implementing a Power
          BI data model. <ul class="list-disc ml-2 text-gray-500">
            <li>
              Host ideation sessions with the project team to explore various
              approaches to data modeling and visualization.
            </li>
            <li>
              Research industry best practices and innovative Power BI features
              that align with the client's needs.
            </li>
          </ul>
        </p>
      </div>
      <div class="bg-gray-50 border border-gray-200 rounded-lg p-3 shadow">
        <a
          class="bg-indigo-100 inline-flex items-center px-2.5 py-0.5 rounded-md"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 14H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v1M5 19h5m-9-9h5m4-4h8a1 1 0 0 1 1 1v12H9V7a1 1 0 0 1 1-1Zm6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
            ></path>
          </svg>
        </a>
        <h2 class="text-gray-900 text-2xl font-extrabold mb-2">Design</h2>
        <p class="text-md font-normal text-gray-500 mb-4">
          Develop a strategic plan for implementing the Power BI data model.<ul
            class="list-disc ml-2 text-gray-500"
          >
            <li>
              Create a detailed project plan outlining the design phases, tasks,
              and timelines.
            </li>
            <li>
              Design the Power BI data model, incorporating insights from the
              discovery phase, and aligning with the defined objectives.
            </li>
            <li>
              Implement time intelligence calculations and other strategic
              features to enhance decision-making.
            </li>
          </ul>
        </p>
      </div>
      <div class="bg-gray-50 border border-gray-200 rounded-lg p-3 shadow">
        <a
          class="bg-green-100 inline-flex items-center px-2.5 py-0.5 rounded-md"
        >
          <svg
            class="w-[30px] h-[30px] text-gray-800"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 5h8m-1-3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1m6 0v3H6V2m6 0h4a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4m0 9.464 2.025 1.965L12 9.571"
            ></path>
          </svg>
        </a>
        <h2 class="text-gray-900 text-2xl font-extrabold mb-2">Review</h2>
        <p class="text-md font-normal text-gray-500 mb-4">
          Validate the design against client expectations and refine as
          necessary.<ul class="list-disc ml-2 text-gray-500">
            <li>
              Conduct regular review sessions with the client to showcase design
              progress and gather feedback.
            </li>
            <li>
              Adjust the design based on client input, ensuring alignment with
              their vision for enhanced decision-making.
            </li>
            <li>
              Perform thorough testing to validate the functionality and
              accuracy of the Power BI data model.
            </li>
          </ul>
        </p>
      </div>
    </div>
    <h2
      class="text-4xl mt-10 font-bold text-left tracking-tight text-[#125767]"
    >
      Results
    </h2>
    <div class="grid md:grid-cols-6 gap-8">
      <div class="flex col-span-3 shadow">
        <Image src={SampleSlide} alt="slides" />
      </div>
      <div class="font-normal col-span-3 text-md text-gray-700">
        <p class="mb-5 bg-lime-50 border-lime-200 rounded-lg p-3 shadow">
          In addressing the dynamic needs of my client, my strategic approach
          resulted in a profound transformation of their reporting system.
          Through Legacy Report Enhancements, I meticulously recreated and
          refined existing reports, leveraging advanced DAX language and
          modeling techniques to ensure unparalleled accuracy and relevance of
          metrics. I provided actionable recommendations for customer
          acquisition benchmarking, supplying valuable insights for informed
          decision-making.
          <div class="flex shadow">
            <Image src={Dashboards} alt="dashboards" />
          </div>
          <p class="mb-5 mt-5 bg-gray-50 border-gray-200 rounded-lg p-3 shadow">
            The Data Insights initiative delivered a robust data model that not
            only satisfies current requirements but also lays the groundwork for
            seamless integration of future data. Showcasing my proficiency in
            both data analysis and report design, I aligned the solution with
            the client's vision, producing intuitive and impactful dashboards
            that empower users. With a focus on Scalability and
            Future-Readiness, my designed data model anticipates the client's
            evolving needs. It is poised to accommodate additional datasets
            effortlessly, ensuring scalability and flexibility.
          </p>
          <p class="mb-5 bg-lime-50 border-lime-200 rounded-lg p-3 shadow">
            Addressing the client's specific request for time intelligence
            calculations enhances the system's readiness for evolving data
            requirements. My deliverables include comprehensive sample
            assessments, offering tangible proof of my commitment to elevating
            decision-making processes, enhancing data insights, and
            future-proofing the reporting system for sustained success. Examples
            can be seen below.
          </p>
        </p>
      </div>
    </div>
    <h2
      class="mt-10 mb-10 text-4xl font-bold tracking-tight text-center text-[#125767]"
    >
      Technical Skills Obtained 
    </h2>
    <div class="grid md:grid-cols-5 mb-10">
      <DBSkills />

    </div>
  </div>

  <style>
    .background-image {
      background-image: url("../assets/DataPic.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      height: 400px;
      width: 400px;
    }
  </style>
</section>
