<footer class="p-4 bg-[#303131] sm:p-6">
    <div class="mx-auto max-w-screen-xl">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="#home" class="flex items-center">
                   
                    <span class="self-center text-2xl text-white font-semibold whitespace-nowrap">HedgeHour</span>
                </a>
            
               
        </div>
        <hr class="my-6 border-gray-200 sm:mx-autolg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
         <span class="text-sm text-white sm:text-center">© 2023 <a class="hover:underline text-center ">HedgeHour™</a> All Rights Reserved.
         </span> 
           
        </div>
    </div>
</footer>