<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-black">
        Projects
      </h2>
      <p class="font-light text-gray-500 lg:mb-16 sm:text-xl">
        In late 2022, I embarked on a period of skill enhancement, which led to
        diverse project experiences. I've created engaging mobile games, delved
        into database architecture and design. My portfolio showcases my
        versatility and experience as a web developer. Examples of my work span
        game development, database architecture, and web design.
      </p>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
        <a href="#">
          <img
            class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
            src="https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&w=2930&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Webdev"
            
          />
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900">
            <a href="#">Web Development</a>
          </h3>
        </div>
      </div>
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
        <a href="#">
          <img
            class="w-half rounded-lg sm:rounded-none sm:rounded-l-lg"
            src="https://images.unsplash.com/photo-1588600878108-578307a3cc9d?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="DBarch"
          />
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900">
            <a href="#">Database Architecture & Data Analysis</a>
          </h3>
        </div>
      </div>
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
        <a href="#">
          <img
            class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
            src="https://images.unsplash.com/photo-1667372335937-d03be6fb0a9c?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="devsecops"
          />
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900">
            <a href="#">DevSecOps</a>
          </h3>
        </div>
      </div>
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex">
        <a href="#">
          <img
            class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg"
            src="https://images.unsplash.com/photo-1605224307451-c86d7093f375?q=80&w=2826&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="Other"
          />
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight">
            <a href="#">Other Applications</a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
