---
// import Feat, {type  FeatItems } from "./Feat.astro";

// const featitems: FeatItems[] = [
//   {
//     Icon: "devicon-javascript-plain dev-icon",
//     Name: "Javascript",
//   },
//   { Icon: "", Name: "" },
//   { Icon: "", Name: "" },
// ];
---

<div class="bg-[#dbdad4] py-20 sm:py-30">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-8 px-6 lg:px-8 xl:grid-cols-3 "
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight  text-black sm:text-4xl">
        Skills
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        I possess a wide range of skills that enable me to create functional and
        visually pleasing web applications. From front-end development to
        back-end programming, I have the ability to create dynamic and efficient
        online experiences. While I{"'"}m still learning and growing, here is a
        list of some of my key skills:
      </p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-8 sm:grid-cols-3 sm:gap-y-8 xl:col-span-2">
        
        <li>
          <div class="flex items-center gap-x-6">
            <img class="h-16 w-16 " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-line.svg" />
         
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Nextjs</h3>
            </div> 
        </li>
        <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Javascript</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">MySQL</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">PostGreSQL</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6 bg-blend-color-dodge">
              <img class="h-16 w-16 " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Python</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 text-[#0d4048]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900"> HTML5</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 text-[#0d4048]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900"> CSS3</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 " src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Tailwindcss</h3>
              </div> 
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="h-16 w-16 text-[#0d4048]" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-plain.svg" />
           
              <div>
                <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">MaterialUI</h3>
              </div> 
          </li>
          
      </ul>

      
    </ul>
  </div>
</div>
