<div
  class="grid md:grid-cols-3 grid-cols-2 gap-4 mt-20 mb-10 place-content-center"
>
  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-plain.svg"
    height="65px"
    width="65px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
    height="65px"
    width="65px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg"
    height="65px"
    width="65px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jupyter/jupyter-original-wordmark.svg"
    height="65px"
    width="65px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
    height="65px"
    width="65px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original-wordmark.svg"
    height="65px"
    width="65px"
  />
</div>
