<div
  class="grid md:grid-cols-3  gap-4 mt-10 mb-10 place-content-center"
>
  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg"
    height="75px"
    width="75px"
  />


  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original-wordmark.svg"
    height="75px"
    width="75px"
  />

  <img
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postman/postman-original-wordmark.svg"
    height="80px"
    width="80px"
  />

 
</div>
