.banner {
  margin-top: 0;
  padding: 50px 0 50px 0;
  background-position:left;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(
    22deg,
    rgba(162, 156, 180, 1) 8%,
    rgba(216, 167, 162, 1) 55%,
    rgba(228, 203, 193, 1) 100%
  );
  border: 3px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 15px;
  display: block;
}
.banner p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color:#616f76;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  letter-spacing: 0.8px;
  display: auto;
  align-items: center;
  background-color: transparent;
  border: transparent;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 15s linear infinite;
  height: 85vmin;
  position: relative;
  width: auto;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
