.project {
  position: relative;
  background: #ffffff;
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
}
.project h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: black;
  /* margin: 30px auto 30px auto; */
  /* text-align: center; */
  width: auto;
}
.project .nav.nav-pills {
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 9px 0;
  color: black;
  width: auto;
  font-size: 15px;
  letter-spacing: 0.8px;
  font-weight: 400;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";

  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(
    22deg,
    rgba(162, 156, 180, 1) 8%,
    rgba(216, 167, 162, 1) 55%,
    rgba(228, 203, 193, 1) 100%
  );
  opacity: 2;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid #cea99e;
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid #cea99e;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid #cea99e;
  border-bottom: 1px solid #616f76;
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid #cea99e;
}
.proj-imgbx {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
}

.proj-txtx {
  text-align: center;
  transition: 1.5s ease-in-out;
  color: #4e5255;
  width: auto;
}

.proj-txtx h4 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1em;
  position: relative;
  display: block;
  width: auto;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.6px;
  position: center;
  display: block;
  width: auto;
}
/* .tab-content {
 
} */
