:root {
  --rose: #d1b9b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background:linear-gradient(
      22deg,
      rgba(199, 224, 219, 1) 21%,
      rgba(178, 171, 177, 1) 52%,
      rgba(226, 180, 163, 1) 84%
    );
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-image: url("../public/Dark\ Pastel\ Background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}